# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Import cities csv
cities = pd.read_csv("../output_data/cities.csv")
cities.head()

,City,Latitude,Longitute,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Barrow,71.2906,-156.7887,42.82,91,90,19.57,US,1627439584
1,Mataura,-46.1927,168.8643,51.48,79,79,1.45,NZ,1627439811
2,Busselton,-33.6500,115.3333,58.05,68,46,19.93,AU,1627439812
3,Namatanai,-3.6667,152.4333,84.83,67,25,4.99,PG,1627439812
4,Rikitea,-23.1203,-134.9692,74.21,79,100,15.30,PF,1627439614

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#create heatmap with max_intensity set to 100% humidity
gmaps.configure(api_key=g_key)

locations = cities [["Latitude", "Longitute"]]
humidity = cities["Humidity"].astype(float)       

fig = gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 100, point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#create dataframe to show the best cities for vacationing based on weather conditions
bestweather_df = cities.loc[(cities["Max Temperature"] < 85) & (cities["Max Temperature"] > 60) & (cities["Cloudiness"] == 0) & (cities["Humidity"] < 70), :]
bestweather_df = bestweather_df.dropna(how = "any")
bestweather_df.reset_index(inplace=True)
del bestweather_df['index']
bestweather_df.head()

,City,Latitude,Longitute,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Monterey,36.2505,-121.2516,64.27,15,0,7.36,US,1627439714
1,Oskemen,49.9565,82.6119,60.76,67,0,2.24,KZ,1627439828
2,Broken Hill,-31.9500,141.4333,62.31,59,0,21.85,AU,1627439838
3,Wadi Maliz,36.4681,8.5495,82.85,36,0,4.23,TN,1627439848
4,Safita,34.8205,36.1153,74.52,69,0,0.83,SY,1627439666

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#create dataframe for searching for a hotel in each city and add "Hotel Name" column for result
hotel_df = bestweather_df[["City","Country","Latitude","Longitute"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                  City Country  Latitude  Longitute Hotel Name
0             Monterey      US   36.2505  -121.2516
1              Oskemen      KZ   49.9565    82.6119
2          Broken Hill      AU  -31.9500   141.4333
3           Wadi Maliz      TN   36.4681     8.5495
4               Safita      SY   34.8205    36.1153
5                Ubari      LY   26.5921    12.7805
6            Lozuvatka      UA   48.0571    33.2858
7            Makiyivka      UA   48.0478    37.9258
8               Waddān      LY   29.1614    16.1390
9                 Bāfq      IR   31.6128    55.4107
10             Ushtobe      KZ   45.2514    77.9838
11                 Hūn      LY   29.1268    15.9477
12              Ürümqi      CN   43.8010    87.6005
13              Lárdos      GR   36.0942    28.0157
14                Foça      TR   38.6703    26.7566
15               Polis      CY   35.0367    32.4264
16               Saýat      TM   38.7839    63.8803
17      Herat Province      AF   34.5000    62.0000
18           Panjakent      TJ   39.4952    67.6093
19             Tunceli      TR   39.1083    39.5471
20  São Félix do Xingu      BR   -6.6447   -51.9950
21               Coria      ES   39.9879    -6.5377
22             Semīrom      IR   31.4167    51.5667
23               Atasū      KZ   48.6814    71.6433
24    Malatya Province      TR   38.5000    38.0000

In [7]:
#Search Google Places API to locate the nearest hotel within a 5000 m radius of the geocoordinates of each city
radius = 5000
types = "lodging"
keyword= "hotel"

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"keyword": keyword,"radius": radius, "type": types, "key":g_key}

for index, row in hotel_df.iterrows():
    location=row[["Latitude", "Longitute"]].values
    
    params["location"]= f'{location[0]},{location[1]}'
    
    query_url=requests.get(base_url, params=params).json()
    results = query_url['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("There is a missing field. Moving past.....")

hotel_df=hotel_df[hotel_df["Hotel Name"]!= ""]
hotel_df

C:\Users\bmontague\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

There is a missing field. Moving past.....
There is a missing field. Moving past.....
There is a missing field. Moving past.....
There is a missing field. Moving past.....
There is a missing field. Moving past.....

,City,Country,Latitude,Longitute,Hotel Name
1,Oskemen,KZ,49.9565,82.6119,Shiny River Hotel
2,Broken Hill,AU,-31.9500,141.4333,Royal Exchange Hotel
3,Wadi Maliz,TN,36.4681,8.5495,HOPITAL
4,Safita,SY,34.8205,36.1153,Safita Cham Palace
5,Ubari,LY,26.5921,12.7805,فندق أوباري
6,Lozuvatka,UA,48.0571,33.2858,Richka
7,Makiyivka,UA,48.0478,37.9258,Hotelʹno-Restorannyy Kompleks Melʹnytsa
8,Waddān,LY,29.1614,16.1390,محل الشريف محمد العايب
9,Bāfq,IR,31.6128,55.4107,هتل علمدار
10,Ushtobe,KZ,45.2514,77.9838,"Gostinitsa ""Diyar"""
11,Hūn,LY,29.1268,15.9477,Alrwasi Hotel
12,Ürümqi,CN,43.8010,87.6005,Sheraton Urumqi Hotel
13,Lárdos,GR,36.0942,28.0157,Lindos Grand Resort & Spa
14,Foça,TR,38.6703,26.7566,Foça Ensar Hotel
15,Polis,CY,35.0367,32.4264,Natura Beach
18,Panjakent,TJ,39.4952,67.6093,Umarion
19,Tunceli,TR,39.1083,39.5471,Grand Hotel Şaroğlu
20,São Félix do Xingu,BR,-6.6447,-51.9950,Apart Hotel Rio Xingu
21,Coria,ES,39.9879,-6.5377,Hotel Ahc Palacio Coria
22,Semīrom,IR,31.4167,51.5667,(سوئیت اجاره)(ابراهیم دلداده)
23,Atasū,KZ,48.6814,71.6433,Dostyk

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitute"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))